.chatbody{
    display: flex;
    flex-grow: 1;
    padding: 15px 20px;
    border:blue solid;
    background-color: #E7EAF0;
    height: 100vh;
    max-width:  100%;

  
}

@media only screen and (max-width: 920px){
    .main__userprofile{
      display: none;
       
         }
}